@import "src/assets/colors";
@import "src/assets/variables";

.search {
  display: flex;
  justify-content: center;

  &-component {
    display: flex;
    align-items: center;
    position: relative;

    &.active {
      .search-icon {
        order: -1;
      }

      .close-icon {
        display: flex;
      }

      .search-input-wrapper {
        &:after {
          width: 100%;
          transition: $easing;
        }
      }

      .search-input {
        min-width: 150px;
        width: 100%;
      }
    }
  }

  &-icon {
    display: flex;
  }

  &-input-wrapper {
    margin: 0 7px;
    padding-left: 5px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 0%;
      height: 1px;
      background: $light-blue;
      left: 0;
      transition: $easing;
    }

    .btn-submit {
      position: absolute;
      right: 0;
      bottom: -80px;
      width: 160px;
      left: 25%;

      @media (min-width: $tablet) {
        right: -190px;
        left: auto;
        bottom: 0;
      }
    }

  }

  &-input {
    color: $light-blue;
    font-size: 12px;
    font-family: $WorkSans-Regular;
  }

  .close-icon {
    position: absolute;
    right: -15px;
    display: none;
    cursor: pointer;
  }

  &.header-search {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;

    @media (min-width: $tablet) {
      display: flex;
    }
  }
}