@import "src/assets/colors";
@import "src/assets/variables";

.genre-browse {
  max-width: 100%;
  padding: 0 30px;
  height: 35px;
  background: $sky-blue;

  &:hover {
    background: $deep-blue;
    color: $white;
  }

  @media (min-width: $tablet) {
    height: 45px;
    padding: 0 40px;
  }
}