@import "src/assets/colors";
@import "src/assets/variables";

.modal-saved {
  width: 700px;
  padding: 50px 40px 25px;
  border-radius: $border-radius-base;

  .modal-header {
    margin-bottom: 40px;
    display: flex;

    &-content {
      display: flex;
      flex-direction: column;

      .modal-title {
        font-family: $Merriweather-Regular;
        margin-bottom: 15px;

        h2 {
          line-height: 1.2;
        }
      }

      .modal-tabs {
        &-names {
          display: flex;

          li {
            margin-right: 25px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }

    &-img {
      width: 260px;
      background: url("../../assets/img/saved-books.svg") no-repeat;
      background-size: contain;
      background-position-x: right;
    }
  }

  .modal-body {
    margin-bottom: 60px;
  }
}