@import "src/assets/colors";
@import "src/assets/variables";

.book-item {
  display: flex;
  height: 250px;
  margin-bottom: 70px;
  position: relative;
  transform: scaleX(1);

  &:hover {
    box-shadow: $box-shadow-medium;
    transform: scaleX(1.03);
    transition: $easing;
    //border: 1px solid $sky-blue;
  }

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: $sky-blue;
    bottom: -35px;
  }

  &:last-child {
    &:after {
      content: none;
    }
  }

  &-img {
    margin-right: 20px;
    width: 160px;
    height: 100%;
    display: flex;
    max-width: 160px;
    min-width: 160px;
    overflow: hidden;
    border-radius: $border-radius-base;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px 10px;

    .info-header {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      padding-right: 150px;

      .title {
        margin-bottom: 2px;
        font-family: $Merriweather-Bold;
        letter-spacing: $ls-small;

        h5 {
          width: 400px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .authors {
        display: flex;
        font-family: $WorkSans-Semibold;
        color: $light-gray;
        letter-spacing: $ls-small;

        p {
          margin-right: 5px;
        }
      }
    }

    .info-content {
      display: flex;
      height: 100%;

      .info-desc {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        width: 420px;

        .desc {
          max-height: 68px;
          height: 100%;
          overflow: hidden;
          margin-bottom: 5px;
          font-family: $WorkSans-Light;
        }

        .show-more {
          align-self: flex-end;
          font-size: 12px;
          font-family: $WorkSans-Regular;
          letter-spacing: $ls-small;
          color: $blue;
          position: relative;
          padding-right: 20px;
          cursor: pointer;
          margin-right: 20px;
          margin-bottom: 12px;

          &:after {
            content: url('../../assets/icons/arrow-right.svg');
            position: absolute;
            right: 5px;
            transition: $easing;
          }

          &:hover {
            &:after {
              right: 0;
              transition: $easing;
            }
          }
        }

        .info-links {
          margin-top: auto;

          .subtitle {
            font-size: 12px;
            font-family: $WorkSans-Semibold;
            color: $light-gray;
            margin-bottom: 5px;
          }

          .link-bg {
            //font-size: 12px;
            cursor: pointer;
            padding: 5px;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }

      .info-params {
        display: flex;
        flex-direction: column;
      }
    }
  }
}