@import "src/assets/colors";
@import "src/assets/variables";

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 50px;

  &-header {
    display: flex;
    justify-content: space-between;

    .books-count {
      font-size: 14px;
      font-family: $WorkSans-Semibold;
      color: $light-gray;
    }
  }

  &-body {
    display: flex;

    .books-list {
      margin: 0 30px;
    }
  }
}