@import "src/assets/colors";
@import "src/assets/variables";

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0 0;

  &-header {
    display: flex;
    justify-content: space-between;

    .books-count {
      font-size: 14px;
      font-family: $WorkSans-Semibold;
      color: $light-gray;
    }
  }

  &-body {
    display: flex;

    .books-list {
      margin: 0 30px 0 20px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      //height: 1000px;
    }
  }

  &-footer {
    padding-left: 180px;
    margin: 0 30px 0 20px;

    .pagination {
      margin-bottom: 70px;
    }
  }
}