@import "src/assets/colors";
@import "src/assets/variables";

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  @media (min-width: $tablet) {
    margin-bottom: 100px;
  }

  &-title {
    width: 100%;
    font-family: $WorkSans-Semibold;
    letter-spacing: $ls-small;
    position: relative;
    margin-bottom: 40px;
    @media (min-width: $laptop) {
      margin-bottom: 55px;
    }

    @media (min-width: $tablet) {
      &:after {
        content: '';
        background: url("../../assets/img/blush.svg");
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 145px;
        height: 55px;
      }
    }
  }

  &-content {
    width: 100%;
    margin-bottom: 30px;
    @media (min-width: $laptop) {
      max-width: 710px;
      margin-bottom: 0;
    }

    .button {
      margin-bottom: 15px;
      margin-right: 10px;
      font-size: 14px;

      @media (min-width: $laptop) {
        margin-bottom: 20px;
        margin-right: 20px;
        border-radius: $border-radius-base;
      }
    }
  }

  &-illustration {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    @media (min-width: $tablet) {
      width: 240px;
      height: 180px;
      max-width: 100%;
      margin: 0;
    }

    img {
      width: 100%;
      height: intrinsic;
      @media (min-width: $tablet) {
        height: 100%;
        width: auto;
      }
    }
  }
}