@import "src/assets/colors";
@import "src/assets/variables";

.bookVolume {
  margin-bottom: 50px;
  @media (min-width: $tablet) {
    margin-bottom: 85px;
  }

  &-info {
    margin-bottom: 30px;
    display: flex;
    @media (min-width: $tablet) {
      margin-bottom: 50px;
    }
    @media (min-width: $laptop) {
      margin-bottom: 80px;
    }

    .volume-img {
      width: 375px;
      margin-right: 20px;
      display: none;
      @media (min-width: $tablet) {
        display: block;
      }
      @media (min-width: $laptop) {
        margin-right: 40px;
      }

      img {
        width: 100%;
      }
    }

    .volume-content {
      padding: 10px 0;
      width: 100%;

      &-header {
        display: flex;
        flex-direction: column;
        position: relative;
        @media (min-width: $tablet) {
          padding-right: 200px;
        }
        @media (min-width: $laptop) {
          padding-right: 250px;
        }

        .title {
          margin-bottom: 10px;
          font-family: $Merriweather-Bold;
          letter-spacing: $ls-small;
        }

        .authors {
          display: flex;
          font-family: $WorkSans-Semibold;
          color: $light-gray;
          letter-spacing: $ls-small;
          font-size: 16px;
          margin-bottom: 15px;

          p {
            margin-right: 5px;
          }
        }

        .rating {
          display: flex;
          justify-content: center;
          @media (min-width: $tablet) {
            justify-content: flex-start;
          }

          .star {
            margin-right: 3px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .reviews {
          font-family: $WorkSans-Regular;
          color: $light-gray;
          font-size: 11px;
          width: 85px;
          text-align: center;
          margin: 0 auto 20px;
          @media (min-width: $tablet) {
            margin-right: 0;
            margin-left: 0;
          }

          span {
            margin-right: 3px;
          }
        }

        .labels {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          @media (min-width: $tablet) {
            position: absolute;
            right: 0;
            justify-content: flex-start;
          }

          .bookmark {
            margin-right: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
          }

          .buttons {
            display: flex;
            @media (min-width: $tablet) {
              flex-direction: column;
            }

            .button {
              min-width: 125px;
              padding: 0 20px;
              margin-bottom: 10px;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }

              @media (min-width: $tablet) {
                margin-right: 0;
              }

              &.info {
                width: 100px;
                min-width: auto;
                margin-left: auto;
                padding: 0 5px;

                span {
                  font-size: 10px;
                  margin-left: 3px;
                }
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      &-body {
        .subtitle {
          font-size: 14px;
          font-family: $WorkSans-Semibold;
          color: $light-gray;
          margin-bottom: 5px;
        }

        .body-description {
          margin-bottom: 20px;

          .desc {
            font-family: $WorkSans-Light;
          }
        }

        .links {
          margin-top: auto;

          .link-bg {
            cursor: pointer;
            padding: 5px 10px;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  &-details {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    @media (min-width: $tablet) {
      flex-direction: row;
    }
    @media (min-width: $laptop) {
      margin-bottom: 80px;
    }

    .book-volume-card {
      margin-right: 35px;
      @media (min-width: $laptop) {
        margin-right: 55px;
      }
    }

    .card-title {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
      max-width: 420px;
      order: -1;
      @media (min-width: $tablet) {
        order: 0;
      }

      h2 {
        font-family: $Merriweather-Regular;
        letter-spacing: $ls-normal;
        margin-bottom: 20px;
        font-size: 24px;
        @media (min-width: $tablet) {
          font-size: 36px;
        }
        @media (min-width: $laptop) {
          font-size: 48px;
        }
        @media (min-width: $desktop) {
          font-size: 64px;
        }
      }

      &-illustration {
        display: flex;
        margin-bottom: 20px;
        @media (min-width: $tablet) {
          margin-bottom: 0;
        }
        @media (min-width: $desktop) {
          justify-content: center;
        }

        img {
          width: 200px;
          @media (min-width: $tablet) {
            width: 100%;
          }
        }
      }
    }
  }

  &-categories {
    display: flex;
    flex-direction: column;

    &-header {
      margin-bottom: 30px;
      position: relative;
      @media (min-width: $tablet) {
        margin-bottom: 50px;
      }

      h4 {
        font-family: $Merriweather-Regular;
        margin-bottom: 10px;
        @media (min-width: $tablet) {
          margin-bottom: 0;
        }
      }

      .search-more {
        position: relative;
        right: 0;
        top: 40%;
        @media (min-width: $tablet) {
          position: absolute;
        }
      }
    }

    &-body {
      display: flex;
      flex-wrap: wrap;
      @media (min-width: $tablet) {
        flex-wrap: nowrap;
      }

      .body-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        max-width: 50%;
        min-width: 50%;
        transform: scaleX(1);
        transition: $easing;
        box-shadow: none;
        margin-bottom: 20px;
        @media (min-width: $tablet) {
          max-width: 25%;
          min-width: 25%;
          margin-bottom: 0;
        }
        @media (min-width: $laptop) {
          padding: 0 20px;
        }


        &:hover {
          .img-wrapper {
            transform: scaleY(1.05);
            box-shadow: $box-shadow-large;
            transition: $easing;
          }
        }

        .img-wrapper {
          height: 250px;
          width: auto;
          display: flex;
          justify-content: center;
          margin-bottom: 15px;
          border-radius: $border-radius-base;
          overflow: hidden;
          @media (min-width: $laptop) {
            height: 330px;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }

        .item-title {
          font-family: $WorkSans-Semibold;
          font-size: 18px;
          margin-bottom: 7px;
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .item-author {
          font-size: 14px;
          font-family: $WorkSans-Semibold;
          color: $light-blue
        }
      }
    }
  }
}