@import "src/assets/colors";
@import "src/assets/variables";

.book-request {
  max-width: 550px;
  margin: 0 auto 60px;
  text-align: center;

  &-title {
    font-family: $Merriweather-Regular;

    span {
      &.name {
        text-transform: capitalize;
      }

      &:after {
        content: '&';
        margin: 0 10px;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}