@import "src/assets/colors";
@import "src/assets/variables";

.book-request {
  max-width: 600px;
  margin: 0 auto 60px;
  text-align: center;

  &-title {
    font-family: $Merriweather-Regular;
    text-transform: capitalize;

    span {
      &:after {
        content: '&';
        margin-left: 10px;
      }
    }
  }
}