@import "src/assets/colors";
@import "src/assets/variables";

.book-request {
  &-title {
    font-family: $Merriweather-Regular;
    word-break: break-all;

    span {
      &.name {
        text-transform: capitalize;
      }

      &:after {
        content: '&';
        margin: 0 10px;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }
    }
  }
}