@import "src/App";

header {
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: $box-shadow-medium;
  padding: 0 10px;
  background: $white;
  position: fixed;
  z-index: 1000;
  transition: $easing;
  @media (min-width: $laptop) {
    padding: 0 50px;
  }

  &.header-small {
    height: 55px;
    box-shadow: none;
    border-bottom: 1px solid $light-blue;
    transition: $easing;
  }

  h1 {
    font-family: $Merriweather-Regular;
    font-size: 18px;
    letter-spacing: $ls-normal;
    z-index: 10;

    span {
      font-weight: 800;
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    z-index: 10;

    &-item {
      margin-right: 20px;
      position: relative;
      @media (min-width: $tablet) {
        margin-right: 40px;
      }

      .favourite-icon {
        width: 25px;
        @media (min-width: $tablet) {
          width: 30px;
        }
      }

      &.hide-mobile {
        display: none;
        @media (min-width: $tablet) {
          display: block;
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 50%;
        height: 3px;
        background: $yellow;
        bottom: 0;
        left: 0;
      }

      &:hover {
        &:after {
          width: 100%;
          transition: $easing;
        }
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }
}