@import "src/assets/colors";
@import "src/assets/variables";

.hero-quick {
  display: flex;
  flex-direction: column;
  padding: 100px 0 20px;
  margin-bottom: 50px;
  justify-content: center;
  @media (min-width: $laptop) {
    justify-content: left;
  }

  &-title {
    width: 100%;
    margin-bottom: 30px;
    font-family: $Merriweather-Regular;
    font-weight: 300;
    text-align: center;
    @media (min-width: $laptop) {
      text-align: left;
    }
  }

  &-illustration {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    @media (min-width: $tablet) {
      height: 250px;
    }

    img {
      height: 100%;
    }
  }

  .search {
    padding-top: 10%;
    padding-bottom: 130px;
    @media (min-width: $tablet) {
      padding-right: 190px;
      margin: 0 auto;
      padding-bottom: 40px;
      padding-top: 7%;
    }
  }

  .search-component {
    width: 100%;
    padding: 0 10px;
    @media (min-width: $tablet) {
      width: auto;
      padding: 0;
    }

    .search-input-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      @media (min-width: $tablet) {
        width: 500px;
      }

      .tags-input {
        border: none;
        flex-wrap: wrap;
        @media (min-width: $tablet) {
          flex-wrap: nowrap;
        }

        .tags-list {
          flex-wrap: wrap;
          @media (min-width: $tablet) {
            flex-wrap: nowrap;
          }

          .tag {
            margin-top: 5px;

            @media (min-width: $tablet) {
              margin-top: 0;
            }
          }
        }
      }
    }

    .search-icon {
      display: none;
      @media (min-width: $tablet) {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }

  .label-text {
    align-self: center;
    max-width: 595px;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-family: $WorkSans-Medium;
    letter-spacing: $ls-small;
    background: $sky-blue;
    position: relative;
    display: none;

    &.is-visible {
      display: flex;
    }

    .btn-close {
      position: absolute;
      right: 20px;
    }
  }
}