@import "src/assets/colors";
@import "src/assets/variables";

.hero-advanced {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0 20px;
  margin-bottom: 50px;
  justify-content: center;
  @media (min-width: $laptop) {
    justify-content: left;
  }

  &-title {
    width: 100%;
    margin-bottom: 30px;
    font-family: $Merriweather-Regular;
    font-weight: 300;
    text-align: center;
    @media (min-width: $laptop) {
      text-align: left;
    }
  }

  .advanced-form {
    margin-bottom: 50px;
    @media (min-width: $laptop) {
      width: 50%;
      max-width: 500px;
      margin-bottom: 0;
    }
  }

  &-illustration {
    width: 400px;
    height: 250px;
    background: url("../../assets/img/search-dog.svg") no-repeat;
    background-size: contain;
    background-position-y: top;
    background-position-x: center;
    @media (min-width: $tablet) {
      height: 350px;
    }
    @media (min-width: $laptop) {
      margin-left: auto;
    }
  }
}