.button {
  border-radius: $border-radius-base;
  text-align: center;
  font-family: $WorkSans-Semibold;
  letter-spacing: $ls-normal;
  cursor: pointer;

  &.primary {
    text-transform: uppercase;
    background: $yellow;
    border: 1px solid $deep-blue;

    &:hover {
      box-shadow: $box-shadow-button;
    }
  }

  &.secondary {
    background: $deep-blue;
    color: $white;
    text-transform: capitalize;
  }

  &.danger {
    background: $orange;
    color: $white;
  }

  &.info {
    color: $deep-blue;
    background: $yellow;
  }

  &.is-large {
    max-width: 180px;
    width: 100%;
    height: 45px;
  }

  &.is-medium {
    height: 35px;
  }

  &.is-small {
    height: 30px;
  }
}