$deep-blue: #0E084B;
$dark-gray: #333333;
$yellow: #FFF9BE;
$blue: #2D9CDB;
$sky-blue: #F5F5F5;
$white: #fff;

$light-gray: rgba($dark-gray, .5);
$light-yellow: rgba($yellow, .5);
$light-blue: rgba($deep-blue, .5);