//Merriweather

@font-face {
  font-family: 'Merriweather Regular';
  src: url("./Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather Bold';
  src: url("./Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//WorkSans
@font-face {
  font-family: 'WorkSans Light';
  src: url("./WorkSans/WorkSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Regular';
  src: url("./WorkSans/WorkSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Medium';
  src: url("./WorkSans/WorkSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Semibold';
  src: url("./WorkSans/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans Bold';
  src: url("./WorkSans/WorkSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}