//ANIMATED INPUT
.input-animated {
  width: 100%;
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;

  + label {
    position: relative;
    white-space: nowrap;
    //max-width: 180px;
    width: 100%;
    //border-top: 3px solid $yellow;
    transition: width 0.4s ease;
    height: 0;

    > span {
      position: absolute;
      //color: rgba($dark-gray, .5);
      font-size: 14px;
      top: -30px;
      left: 0;
      z-index: 5;
      transition: top 0.2s ease;
    }
  }

  &:focus, &:valid {
    padding-top: 35px;

    + label > span {
      top: -50px;
      font-size: 12px;
    }
  }

  &:invalid {
    box-shadow: none;
  }
}

.label {
  color: $light-blue;
  font-size: 12px;
  letter-spacing: $ls-small;
  font-family: $WorkSans-Semibold;
  margin-bottom: 10px;
}

.select {
  width: 150px;
  border-bottom: 3px solid $yellow;
}

.tags-input {
  display: flex;
  align-items: center;

  width: 100%;
  border-bottom: 1px solid $deep-blue;
  overflow: auto;

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    padding: 0 10px;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }

    .tag-close-icon {
      margin-left: 10px;
    }
  }

  input {
    padding: 4px 10px 0;
    height: 100%;
    width: 100%;
    min-width: 120px;
    min-height: 50px;
  }

  .tags-list {
    display: flex;
    margin-bottom: 10px;
    @media (min-width: $tablet) {
     margin-bottom: 0;
    }
  }
}
