@import "variables";

h2 {
  font-size: 48px;
  @media (min-width: $laptop) {
    font-size: 64px;
  }
}

a.link-bg,
a.link-bg:link {
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient($white 50%, $yellow 50%);
  transition: background 500ms ease;
  background-size: auto 175%;
}

a.link-bg:hover {
  background-position-y: 100%;
}

a {
  &.anchor {
    width: 50px;
    height: 50px;
    background: $light-yellow;
    position: relative;
    border-radius: 50%;
    border: 1px solid $deep-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      content: '';
      background: url("icons/down.svg");
      width: 20px;
      height: 11px;
      position: absolute;
    }

    &:hover {
      background: $yellow;
    }
  }
}