//Border radius
$border-radius-base: 5px;

//Box shadow
$box-shadow-medium: 0 0 40px rgba($dark-gray, .1);
$box-shadow-button: 5px 10px 4px rgba(14, 8, 75, 0.1);

//Fonts
$Merriweather-Regular: 'Merriweather Regular';
$Merriweather-Bold: 'Merriweather Bold';

$WorkSans-Light: 'WorkSans Light';
$WorkSans-Regular: 'WorkSans Regular';
$WorkSans-Medium: 'WorkSans Medium';
$WorkSans-Semibold: 'WorkSans Semibold';
$WorkSans-Bold: 'WorkSans Bold';

//Responsive
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

//Letter spacing
$ls-normal: 1px;
$ls-small: .3px;

//Line height
$lh-medium: 1.7;

//Transition
$easing: all .3s ease-in-out;

