@import "../../assets/all";

.advanced-form {
  display: flex;
  padding-top: 60px;
  flex-direction: column;

  .form-wrapper {
    width: 100%;
    margin-bottom: 30px;
    display: flex;

    &-item {
      display: flex;
      flex-direction: column;

      .select {
        font-family: $WorkSans-Regular;
        padding: 5px;
        font-size: 14px;
      }

      .input-animated {
        width: 190px;

        + label {
          width: 190px;
          border-top: 3px solid $yellow;

          > span {
            color: $deep-blue;
            letter-spacing: $ls-small;
          }
        }

        input,
        span,
        label,
        select {
          font-family: $WorkSans-Regular;
          padding: 5px;
          font-size: 12px;
        }
      }

      .btn-wrapper {
        display: flex;
      }
    }

    &.double {
      .form-wrapper-item {
        margin-right: 90px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.triple {
      .form-wrapper-item {
        margin-right: 58px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}