@import "../../assets/all";

.advanced-form {
  display: flex;
  flex-direction: column;
  padding-top: 60px;

  .form-wrapper {
    width: 100%;
    margin-bottom: 30px;
    display: flex;

    &-item {
      display: flex;
      flex-direction: column;

      .select {
        font-family: $WorkSans-Regular;
        padding: 5px;
        font-size: 14px;
      }

      .input-animated {
        width: 190px;

        + label {
          width: 190px;
          border-top: 3px solid $yellow;
          font-family: $WorkSans-Regular;
          padding: 5px;
          font-size: 12px;

          > span {
            color: $deep-blue;
            letter-spacing: $ls-small;
          }
        }
      }

      input,
      span,
      select {
        font-family: $WorkSans-Regular;
        padding: 5px;
        font-size: 14px;
      }
    }

    .btn-wrapper {
      display: flex;
      height: 31px;

      .link-bg {
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        cursor: pointer;
        font-family: $WorkSans-Semibold;

        &.is-small {
          width: 35px;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .checkbox {
        align-self: center;
        margin-right: 7px;

        ~ p {
          align-self: center;
        }
      }
    }

    &.double {
      .form-wrapper-item {
        margin-right: 90px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.triple {
      .form-wrapper-item {
        margin-right: 58px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .button {
    margin: 30px auto 0;
  }
}