@import "src/assets/colors";
@import "src/assets/variables";

.filter-params {
  display: flex;
  margin-bottom: 30px;
  position: relative;
  //position: sticky;
  //top: 80px;
  @media (min-width: $laptop) {
    flex-direction: column;
    max-width: 180px;
    margin-bottom: 0;
    position: static;
  }

  &-item {
    width: 180px;
    background: $sky-blue;
    color: $deep-blue;
    border-radius: $border-radius-base;
    padding: 15px 20px 15px;
    margin-right: 10px;
    margin-bottom: 50px;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: $laptop) {
      margin-bottom: 10px;
      padding-bottom: 25px;
      margin-right: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &.is-open {
      padding-bottom: 15px;
      height: 100%;
      margin-bottom: 0;
      @media (min-width: $laptop) {
        height: auto;
        margin-bottom: 10px;
      }

      .filter-header {
        margin-bottom: 0;

        .chevron-icon {
          transform: rotate(180deg);
          transition: $easing;
        }
      }

      .filter-body {
        height: 0;
        visibility: hidden;
        padding: 0;
        width: 0;
        transition: width .5s ease-in-out, visibility .2s ease-in-out, height .3s ease-in-out;
        @media (min-width: $laptop) {
          width: auto;
        }
      }
    }

    .filter-header {
      margin-bottom: 25px;
      font-family: $WorkSans-Medium;
      font-size: 14px;
      letter-spacing: $ls-small;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;

      .chevron-icon {
        width: 8px;
        transform: rotate(0deg);
        transition: $easing;

        path {
          opacity: .7;
          fill: $deep-blue;
        }
      }
    }

    .filter-body {
      width: 100%;
      position: absolute;
      background: $sky-blue;
      left: 0;
      padding: 20px;
      display: flex;
      height: auto;
      visibility: visible;
      transition: width .5s ease-in-out, visibility .4s ease-in-out, height .3s ease-in-out;

      @media (min-width: $laptop) {
        width: auto;
        position: static;
        background: $sky-blue;
        flex-direction: column;
        padding: 0;
      }

      .filter-item {
        display: flex;
        align-items: center;
        user-select: none;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        @media (min-width: $laptop) {
          margin-bottom: 7px;
          margin-right: 0;
          &:last-child {
            margin-bottom: 0;
          }
        }

        .input-button {
          margin-right: 7px;
        }
      }
    }
  }
}