@import "src/assets/colors";
@import "src/assets/variables";

.filter-params {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  position: sticky;
  top: 80px;

  &-item {
    width: 180px;
    background: $sky-blue;
    color: $deep-blue;
    border-radius: $border-radius-base;
    padding: 15px 20px 25px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-open {
      .filter-header {
        margin-bottom: 0;

        .chevron-icon {
          transform: rotate(180deg);
          transition: $easing;
        }
      }

      .filter-body {
        height: 0;
        visibility: hidden;
      }
    }

    .filter-header {
      margin-bottom: 25px;
      font-family: $WorkSans-Medium;
      font-size: 14px;
      letter-spacing: $ls-small;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .chevron-icon {
        width: 8px;
        transform: rotate(0deg);
        transition: $easing;

        path {
          opacity: .7;
          fill: $deep-blue;
        }
      }
    }

    .filter-body {
      .filter-item {
        display: flex;
        align-items: center;
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 0;
        }

        .input-button {
          margin-right: 7px;
        }
      }
    }
  }
}